/* Symphony by vyrx
 * Theme: Gruvbox Material
 * https://github.com/vyrx-dev
 */

/*
 * GTK Colors - Gruvbox Material
 */

@define-color accent_color #89b482;
@define-color accent_fg_color #111313;
@define-color accent_bg_color #89b482;
@define-color window_bg_color #111313;
@define-color window_fg_color #FFFFFF;
@define-color headerbar_bg_color #111313;
@define-color headerbar_fg_color #FFFFFF;
@define-color popover_bg_color #111313;
@define-color popover_fg_color #FFFFFF;
@define-color view_bg_color #111313;
@define-color view_fg_color #FFFFFF;
@define-color card_bg_color #111313;
@define-color card_fg_color #FFFFFF;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color #FFFFFF;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
