/*
 * Symphony
 * Author: vyrx
 * Theme: Sakura
 * GTK Colors - Sakura
 */

@define-color accent_color #E8C099;
@define-color accent_fg_color #FFFFFF;
@define-color accent_bg_color #E8C099;
@define-color window_bg_color #0d0509;
@define-color window_fg_color #FFFFFF;
@define-color headerbar_bg_color #1a0f12;
@define-color headerbar_fg_color #FFFFFF;
@define-color popover_bg_color #1a0f12;
@define-color popover_fg_color #FFFFFF;
@define-color view_bg_color #0d0509;
@define-color view_fg_color #FFFFFF;
@define-color card_bg_color #1a0f12;
@define-color card_fg_color #FFFFFF;
@define-color sidebar_bg_color #1a0f12;
@define-color sidebar_fg_color #FFFFFF;
@define-color sidebar_border_color #4a3c45;
@define-color sidebar_backdrop_color #0d0509;
