/* Symphony by vyrx
 * Theme: Aamis
 * https://github.com/vyrx-dev
 */

/*
 * GTK Colors - Aamis
 */

@define-color accent_color #cea37f;
@define-color accent_fg_color #0f0f0f;
@define-color accent_bg_color #cea37f;
@define-color window_bg_color #0f0f0f;
@define-color window_fg_color #FFFFFF;
@define-color headerbar_bg_color #0f0f0f;
@define-color headerbar_fg_color #FFFFFF;
@define-color popover_bg_color #0f0f0f;
@define-color popover_fg_color #FFFFFF;
@define-color view_bg_color #0f0f0f;
@define-color view_fg_color #FFFFFF;
@define-color card_bg_color #0f0f0f;
@define-color card_fg_color #FFFFFF;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color #FFFFFF;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
