@import "../omarchy/themes/aether/waybar.css";


* {
  /* background-color: @background; */
  background-color: transparent;
  color: @foreground;

  border: none;
  border-radius: 0px;
  font-family: 'CaskaydiaMono Nerd Font Propo';
  font-size: 12px;
}

tooltip {
  opacity: 0.9;
}

window#waybar {
  /* background-color: transparent; */

  background: rgba(30, 30, 30, 0.5);
  /* or any color with alpha < 1 */
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

.modules-center {
  border-radius: 0;
  /* border-left: 1px solid alpha(@foreground, 0.2); */
  /* border-right: 1px solid alpha(@foreground, 0.2); */
  padding: 0 80px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;

}

#workspaces button.active {
  background: rgba(255, 255, 255, 0.15);
  color: #ffffff;
  /* border-bottom: 2px solid rgba(255, 255, 255, 0.8); */
  font-weight: 700;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

#workspaces button.empty {
  opacity: 0.5;
}

#hyprland-window,
#tray,
#cpu,
#memory,
#battery,
#network,
#bluetooth,
#pulseaudio,
#backlight,
#custom-screenrecording-indicator,

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  padding: 0.5px;
}


#clock,
#idle_inhibitor {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#window {
  margin: 8.75px;
}
